accelerate==1.10.1
datasets==2.20.0
modelscope==1.30.0
mosaicml-cli==0.5.34
mosaicml-streaming==0.8.1
numpy==2.3.3
pandas==2.3.2
sentencepiece==0.1.97
tiktoken==0.7.0
tqdm==4.67.1
transformers==4.53.3
triton==3.4.0
wandb==0.17.3
zstandard==0.22.0
zstd==1.5.5.1
